
	<div class="page">
		<div class="banniere"></div>
		<ng-menu></ng-menu>
		<div class="conteneur str_paddingConteneur">
			<div class="str_video">
				<iframe src="https://player.twitch.tv/?channel=jallyy" frameborder="0" allowfullscreen="true" scrolling="no" class="str_videoTwitch"></iframe>
				<!--<a href="https://www.twitch.tv/jallyy?tt_medium=live_embed&tt_content=text_link" ></a>-->
			</div>
			<div class="str_chat">
				<iframe src="https://www.twitch.tv/jallyy/chat?popout=" frameborder="0" scrolling="no" class="str_chatTwtich"></iframe>
			</div>	     
		</div>
		<ng-footer></ng-footer>
	</div>
</div>
