
<div>
	<div class="page">
		<div class="banniere"></div>
		<ng-menu></ng-menu>
		<div class="conteneur ltr_paddingConteneur">
			<span class="ltr_title">LOL Trolling</span>
			<div class="">
				<form class="uk-form ltr_form">

				    <fieldset data-uk-margin class="ltr_fieldset">
				        <div class="center ltr_filtreDiv">
					        <span class="ltr_filterSelectTitle" >Nombre de joueurs</span>
					        <md-select name="type" ng-model="nbJoueur" required class="ltr_filterSelect" aria-label="WriteHereAnyLabelYouLike" ng-change="cleanResultFiltres()">
					            <md-option value="1" aria-label="" >1</md-option>
					            <md-option value="2" aria-label="" >2</md-option>
					            <md-option value="3" aria-label="" >3</md-option>
					            <md-option value="4" aria-label="" >4</md-option>
					            <md-option value="5" aria-label="" selected>5</md-option>
					        </md-select>
					    </div>
					    <div class="center ltr_filtreDiv" >
					     	<span class="ltr_filterSelectTitle">Champions aléatoires</span>
						    <md-switch class="ltr_mdSwitch" ng-model="champRandom"
						        ng-model="vm.activated"
						        aria-label="Enable Indicators"
						        ng-click="cleanResultFiltres()">
						    </md-switch>
					    </div>
					    <div class="center ltr_filtreDiv">
					     	<span class="ltr_filterSelectTitle">Equipements aléatoires</span>
						    <md-switch class="ltr_mdSwitch" ng-model="equipRandom"
						        ng-model="vm.activated2"
						        aria-label="Enable Indicators2"
						        ng-click="cleanResultFiltres()">
						    </md-switch>
					    </div>
					    <div class="center ltr_filtreDiv">
					     	<span class="ltr_filterSelectTitle">Sorts d'invocateurs aléatoires</span>
						    <md-switch class="ltr_mdSwitch" ng-model="sortInvoRandom"
						        ng-model="vm.activated3"
						        aria-label="Enable Indicators3"
						        ng-click="cleanResultFiltres()">
						    </md-switch>
					    </div>
					    <div class="center ltr_filtreDiv">
					     	<span class="ltr_filterSelectTitle">Rôles aléatoires</span>
						    <md-switch class="ltr_mdSwitch" ng-model="roleRandom"
						        ng-model="vm.activated2"
						        aria-label="Enable Indicators3"
						        ng-click="cleanResultFiltres()">
						    </md-switch>
					    </div>
				      
				        <div class="center ltr_Go">
				        	<button ng-click="traiterFiltres()" class="uk-button-primary ltr_buttonGo" style="height: 39px;width: 105PX;">GO !</button>
				        </div>
				       
				    </fieldset>

				</form>
	        </div>
	        <div class="ltr_joueurs" ng-if="filtrage">
	        	<!--<div class="ltr_joueur" ng-repeat="n in [].constructor(5) track by $index">-->
	        	<div class="ltr_joueur" ng-repeat="joueur in joueurs">
	        		<div class="ltr_noJoueur">Joueur {{joueur.indice+1}}</div>
	        		<div class="ltr_nomChamp" ng-if="champRandom">{{joueur.nomChamp}}</div>
	        		<div class="ltr_imageChamp" ng-if="champRandom">
	        			<img src="./assets/images/jeux/lol/champions/ahri.png" alt="" />
	        		</div>
	        		<div class="ltr_nomRole">Jungle</div>
	        		<div class="ltr_equipements">
	        			<div>
	        				<img src="./assets/images/jeux/lol/items/Ange gardien.png" class="ltr_itemImage" alt="" />
		        			<img src="./assets/images/jeux/lol/items/Au bout du rouleau.png" class="ltr_itemImage" alt="" />
		        			<img src="./assets/images/jeux/lol/items/Bottes de lucidite.png" class="ltr_itemImage" alt="" />
	        			</div>
	        			<div>
	        				<img src="./assets/images/jeux/lol/items/Cotte epineuse.png" class="ltr_itemImage" alt="" />
		        			<img src="./assets/images/jeux/lol/items/Coiffe de Rabadon.png" class="ltr_itemImage" alt="" />
		        			<img src="./assets/images/jeux/lol/items/couperet noir.png" class="ltr_itemImage" alt="" />
	        			</div>
	        		</div>
	        		<div class="ltr_sortInvocateurs">
	        			<img src="./assets/images/jeux/lol/sortsInvocateurs/saut eclair.png" width="60px" alt="" />
	        			<img src="./assets/images/jeux/lol/sortsInvocateurs/Teleportation.png" width="60px" alt="" />
	        		</div>
	        	</div>
	        </div>
		</div>
		<ng-footer></ng-footer>
	</div>
</div>